<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Alarm Info</title>
</head>
<body>
<p>{{day}} IPS Report</p>

<p>KeyWord #5 : XMLRPC</p>
{% for t in xmlrpc_today %}        
   {% for c in xmlrpc_ip_cache %}
      {% if t.1 in c %}   
            <p>{{ forloop.counter }} .<a href = http://127.0.0.1:8000/show/{{t.1}} target='new'> {{t.1}} </a> Attacked <font color = 'red' > {{t.4}} </font> times :([{{c.1}}  times],[country/BL:{{c.2}}/{{c.3}}],[write : {{c.4}}], [WEB: {{c.5}},{{c.6}} / FW: {{c.7}},{{c.8}} / WAF: {{c.9}},{{c.10}} / IPS: {{c.11}},{{c.12}}]) </p>       
            {% for i in xmlrpc %}                             
               {% if t.1 in i.1 %}
                  {% for r in i %}  
                       <p>--------- {{ forloop.counter }} ) detect : {{r.0}} / {{r.8}}, dest ip : {{r.2}} : dest port : {{r.3}}, {{r.4}} times, method : {{r.5}}, attack code : {{r.6}}</p>    
                   {% endfor %}
               {% endif %}            
            {% endfor %}
       {% endif %}
    {% endfor %}
{% endfor %}

<p>KeyWord #6 : Apache Struts</p>
{% for t in struts_today %}        
   {% for c in struts_ip_cache %}
      {% if t.1 in c %}   
            <p>{{ forloop.counter }} .<a href = http://127.0.0.1:8000/show/{{t.1}} target='new'> {{t.1}} </a> Attacked <font color = 'red' > {{t.4}} </font> times :([{{c.1}}  times],[country/BL:{{c.2}}/{{c.3}}],[write : {{c.4}}], [WEB: {{c.5}},{{c.6}} / FW: {{c.7}},{{c.8}} / WAF: {{c.9}},{{c.10}} / IPS: {{c.11}},{{c.12}}]) </p>       
            {% for i in struts %}                             
               {% if t.1 in i.1 %}
                  {% for r in i %}  
                       <p>--------- {{ forloop.counter }} ) detect : {{r.0}} / {{r.8}}, dest ip : {{r.2}} : dest port : {{r.3}}, {{r.4}} times, method : {{r.5}}, attack code : {{r.6}}</p>    
                   {% endfor %}
               {% endif %}            
            {% endfor %}
       {% endif %}
    {% endfor %}
{% endfor %}

<p>KeyWord #7 : ECSC</p>
{% for t in ecsc_today %}        
   {% for c in ecsc_ip_cache %}
      {% if t.1 in c %}   
            <p>{{ forloop.counter }} .<a href = http://127.0.0.1:8000/show/{{t.1}} target='new'> {{t.1}} </a> Attacked <font color = 'red' > {{t.4}} </font> times :([{{c.1}}  times],[country/BL:{{c.2}}/{{c.3}}],[write : {{c.4}}], [WEB: {{c.5}},{{c.6}} / FW: {{c.7}},{{c.8}} / WAF: {{c.9}},{{c.10}} / IPS: {{c.11}},{{c.12}}]) </p>       
            {% for i in ecsc %}                             
               {% if t.1 in i.1 %}
                  {% for r in i %}  
                       <p>--------- {{ forloop.counter }} ) detect : {{r.0}} / {{r.8}}, dest ip : {{r.2}} : dest port : {{r.3}}, {{r.4}} times, method : {{r.5}}, attack code : {{r.6}}</p>    
                   {% endfor %}
               {% endif %}            
            {% endfor %}
       {% endif %}
    {% endfor %}
{% endfor %}

<p>KeyWord #8 : NCSC</p>
{% for t in ncsc_today %}        
   {% for c in ncsc_ip_cache %}
      {% if t.1 in c %}              
            <p>{{ forloop.counter }} .<a href = http://127.0.0.1:8000/show/{{t.1}} target='new'> {{t.1}} </a> Attacked <font color = 'red' > {{t.4}} </font> times :([{{c.1}}  times],[country/BL:{{c.2}}/{{c.3}}],[write : {{c.4}}], [WEB: {{c.5}},{{c.6}} / FW: {{c.7}},{{c.8}} / WAF: {{c.9}},{{c.10}} / IPS: {{c.11}},{{c.12}}]) </p>       
            {% for i in ncsc %}                             
               {% if t.1 in i.1 %}
                  {% if forloop.counter != forloop.counter %}
                 {% for r in i %}  
                       <p>--------- {{ forloop.counter }} ) detect : {{r.0}} / {{r.8}}, dest ip : {{r.2}} : dest port : {{r.3}}, {{r.4}} times, method : {{r.5}}, attack code : {{r.6}}</p>    
                   {% endfor %}
               {% endif %}            
              {% endif %}
            {% endfor %}
       {% endif %}
    {% endfor %}
{% endfor %}

<p>KeyWord #9 : WebShell Upload</p>
{% for t in webshell_today %}        
   {% for c in webshell_ip_cache %}      
      {% if t.1 in c %}   
            <p>{{ forloop.counter }} .<a href = http://127.0.0.1:8000/show/{{t.1}} target='new'> {{t.1}} </a> Attacked <font color = 'red' > {{t.4}} </font> times :([{{c.1}}  times],[country/BL:{{c.2}}/{{c.3}}],[write : {{c.4}}], [WEB: {{c.5}},{{c.6}} / FW: {{c.7}},{{c.8}} / WAF: {{c.9}},{{c.10}} / IPS: {{c.11}},{{c.12}}]) </p>       
            {% for i in webshell %}                                           
               {% if t.1 in i.1 %}
                  {% for r in i %}  
                       <p><font color = 'white'>---------</font> {{ forloop.counter }} ) detect : {{r.0}} / {{r.8}}, dest ip : {{r.2}} : dest port : {{r.3}}, {{r.4}} times, method : {{r.5}}, attack code : {{r.6}}</p>                  
                   {% endfor %}                 
               {% endif %}                
            {% endfor %}
       {% endif %}
    {% endfor %}
{% endfor %}

<p>KeyWord #10 : Wanna Cry</p>
{% for t in wannacry_today %}        
   {% for c in wannacry_ip_cache %}
      {% if t.1 in c %}   
            <p>{{ forloop.counter }} .<a href = http://127.0.0.1:8000/show/{{t.1}} target='new'> {{t.1}} </a> Attacked <font color = 'red' > {{t.4}} </font> times :([{{c.1}}  times],[country/BL:{{c.2}}/{{c.3}}],[write : {{c.4}}], [WEB: {{c.5}},{{c.6}} / FW: {{c.7}},{{c.8}} / WAF: {{c.9}},{{c.10}} / IPS: {{c.11}},{{c.12}}]) </p>       
            {% for i in wannacry %}                             
               {% if t.1 in i.1 %}
                  {% for r in i %}  
                       <p>--------- {{ forloop.counter }} ) detect : {{r.0}} / {{r.8}}, dest ip : {{r.2}} : dest port : {{r.3}}, {{r.4}} times, method : {{r.5}}, attack code : {{r.6}}</p>    
                   {% endfor %}
               {% endif %}            
            {% endfor %}
       {% endif %}
    {% endfor %}
{% endfor %}

</body>
</html>